:root {
  /* colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-size: 10px;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--very-light-gray);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 7.5rem 2.4rem;
}

/* ===HEADER=== */
header {
  text-align: center;
}

h1 {
  color: var(--very-dark-blue);
  font-size: 2.4rem;
  margin: 0;
}

p {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  line-height: 1.7;
  max-width: 510px;
}

.light-fonts {
  font-weight: 200;
}

/* ===CARDS=== */
#cards {
  display: grid;
  row-gap: 5px;
  margin-top: 5rem;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  border-top: 0.4rem solid var(--cyan);
  box-shadow: 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.2);
  padding: 2.5rem 3rem;
  max-width: 29rem;
}

dt {
  color: var(--very-dark-blue);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

dd {
  color: var(--grayish-blue);
  font-size: 1.35rem;
  line-height: 1.7;
  margin-left: 0;
}

.card img {
  display: block;
  width: 5.8rem;
  margin-left: auto;
  margin-top: 3.5rem;
  width: 22%;
  min-width: 5.5rem;
}

.card:nth-child(2) {
  border-top-color: var(--red);
}

.card:nth-child(3) {
  border-top-color: var(--orange);
}

.card:nth-child(4) {
  border-top-color: var(--blue);
}

/* ===DESKTOP=== */
@media (min-width:1200px) {
  main {
    padding: 6.5rem 2.4rem 6rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  #cards {
    display: grid;
    gap: 10px 30px;
    margin-top: 4rem;
  }

  .card img {
    margin-top: 5rem;
  }

  .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1/ 3;
    align-self: center;
  }

  .card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .card:nth-child(4) {
    grid-column: 3;
    grid-row: 1/ 3;
    align-self: center;
  }
}

/* ===TABLETS=== */
@media (min-width: 600px) and (max-width: 1199px) {
  #cards {
    display: grid;
    gap: 10px 30px;
  }

  .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .card:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .card:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
}
